/* Responsive Styles
================================================== */
/* Corrige espaçamento acima de 1300px */
.wrap,
	.boxed-layout #page,
	.boxed-layout-small #page,
	.ad-banner-top-wrap,
	.ad-banner-one-wrap,
	.catalog-slider-promotion-wrap,
	.promo-category-wrap {
		max-width: 92%;
	}
/****************************************/

/* All size smaller than 1301 */
@media only screen and (max-width: 1300px) {
	#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item > a.mega-menu-link{
		font-size: 13px;
	}
	.wrap,
	.boxed-layout #page,
	.boxed-layout-small #page,
	.ad-banner-top-wrap,
	.ad-banner-one-wrap,
	.catalog-slider-promotion-wrap,
	.promo-category-wrap {
		max-width: 92%;
	}

	.boxed-layout .wrap,
	.boxed-layout-small .wrap {
		max-width: 94%;
	}

	.four-column-full-width {
		width: 33.33%;
	}

	.four-column-full-width:nth-child(4n+5) {
		clear: none;
	}

	.four-column-full-width:nth-child(3n+4) {
		clear: both;
	}

	#search-box {
		min-width: 400px;
	}

	.catalog-menu-box {
		width: 30%;
	}

	.main-slider {
		width: 70%;
		float: right;
	}

	.product-promotion {
		margin: 0;
		padding: 0;
		width: 100%;
	}

	.product-promotion-wrap {
		margin: 20px -12px 0;
	}

	.product-promotion-content {
		display: inline-block;
		padding-left: 10px;
		padding-right: 10px;
		width: 33.33%;
		margin-left: -2px;
		margin-right: -2px;
	}

	.advertisement-banner-one .six-column-grid .shoppingcart-grid-product,
	.advertisement-banner-one .seven-column-grid .shoppingcart-grid-product,
	.product-widget-box .six-column-grid .shoppingcart-grid-product,
	.product-widget-box .seven-column-grid .shoppingcart-grid-product {
		width: 20%
	}

	.product-widget-box .woocommerce ul.cart_list li, 
	.product-widget-box .woocommerce ul.product_list_widget li {
		width: calc(33.33% - 24px);
	}
}

@media only screen and (min-width: 1024px) {
	body.woocommerce-page.archive #primary{
		width: 80%;
	}	
}

@media only screen and (max-width: 1230px) {

	#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item > a.mega-menu-link{
		padding-left: 0px;
	}
}

@media only screen and (max-width: 1180px) {

	#sticky-header #site-branding .custom-logo{
		display: none;
	}
}

/* All size smaller than 1024
================================================== */
@media only screen and (max-width: 1023px) {

	footer.site-footer{
		text-align: center;
	}
	.boxed-layout #page,
	.boxed-layout-small #page {
		overflow: hidden;
	}

	#search-box {
		min-width: auto;
	}

	.header-navigation-wrap {
		text-align: center;
	}

	.header-social-block {
		display: inline-block;
		float: none;
	}

	.widget-title {
		font-size: 22px;
		line-height: 1.364;	
	}

	.slider-content .slider-title, 
	.slider-content .slider-title a {
		font-size: 26px;
		line-height: 70px;
	}

	.slider-content .slider-text {
		font-size: 13px;
		line-height: 20px;
	}

	.slider-content .slider-text a.more-link {
		padding: 2px 0;
		width: 160px;
	}
	
	.slider-content .btn-default {
		font-size: 12px;
		line-height: 18px;
		margin: 10px 5px 0;
		padding: 4px 12px;
	}

	#primary,
	#secondary {
		margin-bottom: 50px;
		padding: 30px;
		width: 100%;
		border: none;
	}

	.left-sidebar-layout #primary {
		float: none;
		padding-left: 0px;
	}

	.left-sidebar-layout #secondary {
		float: none;
		padding-right: 0px;
		border: none;
	}

	.no-sidebar-layout #main {
		margin: 0 ;
		width: 100%;
	}

	/* ----- Column ----- */
	.column {
		margin: 0 -15px;
	}

	.two-column,
	.three-column,
	.four-column {
		padding: 0 15px 40px;
	}

	.two-column,
	.four-column,
	.three-column,
	.four-column-full-width,
	.business-sidebar .three-column,
	.boxed-layout-small .four-column-full-width {
		width: 50%;
	}

	.three-column:nth-child(3n+4),
	.four-column:nth-child(4n+5),
	.four-column-full-width:nth-child(3n+4),
	.boxed-layout-small .four-column-full-width:nth-child(3n+4),
	.column-2:nth-child(2n+3),
	.column-3:nth-child(3n+4),
	.column-4:nth-child(4n+5) {
 		clear: none;
	}

	.three-column:nth-child(2n+3),
	.four-column:nth-child(2n+3),
	.four-column-full-width:nth-child(2n+3),
	.boxed-layout-small .four-column-full-width:nth-child(2n+3) {
 		clear: both;
	}

	.promo-category-content,
	.big-promo-category .promo-content-wrap .promo-category-content:first-child,
	.advertisement-banner-one .four-column-grid .shoppingcart-grid-product,
	.advertisement-banner-one .five-column-grid .shoppingcart-grid-product,
	.advertisement-banner-one .six-column-grid .shoppingcart-grid-product,
	.advertisement-banner-one .seven-column-grid .shoppingcart-grid-product,
	.product-widget-box .four-column-grid .shoppingcart-grid-product,
	.product-widget-box .five-column-grid .shoppingcart-grid-product,
	.product-widget-box .six-column-grid .shoppingcart-grid-product,
	.product-widget-box .seven-column-grid .shoppingcart-grid-product {
		width: 33.33%
	}
	
	#colophon .widget-area {
		margin: 0;
		display: block;
	}
	
	#colophon .column-1,
	#colophon .column-2,
	#colophon .column-3,
	#colophon .column-4 {
		border-right: none;
		width: 100%;
		float: none;
		padding: 0;
		display: block;
	}
}

/* All size smaller than 981px
================================================== */
@media only screen and (max-width: 980px) { 
/* ----- Responsive Navigation ----- */

	#sticky-header-sticky-wrapper {
		height: auto !important;
	}

	#sticky-header {
		position: relative !important;
	}

	.is-sticky #sticky-header {
		top: 0 !important;
	}

	.is-sticky #sticky-header #site-branding,
	.is-sticky #sticky-header .header-right {
		display: none;
	}

	.is-sticky .header-social-block {
		display: inline-block;
	}

	.is-sticky .main-navigation {
		float: none;
	}
	
	.nav-site-title {
		display: none;
	}

	.top-bar-menu .top-menu-toggle {
		background-color: transparent;
		border: none;
		color: #333;
		cursor: pointer;
		display: inline-block;
		font-size: 18px;
		margin: 0 10px;
		padding: 5px 0;
		position: absolute;
		top: 0;
		right: 0;
	}

	.top-bar-menu .top-menu-toggle.on {
		color: #777;
	}

	.top-menu {
		background-color: #f8f8f8;
		-webkit-box-shadow: 0 0px 3px rgba(0, 0, 0, 0.20);
		-moz-box-shadow: 0 0px 3px rgba(0, 0, 0, 0.20);
		box-shadow: 0 0px 3px rgba(0, 0, 0, 0.20);
		position: absolute;
		padding: 0 15px 2px;
		right: -200%;
		opacity: 0;
		-webkit-transition: all 0.5s ease 0s;
		-moz-transition: all 0.5s ease 0s;
		-o-transition: all 0.5s ease 0s;
		-ms-transition: all 0.5s ease 0s;
		transition: all 0.5s ease 0s;
		top: 50px;
		z-index: 9999;
	}
	
	.toggled-on .top-menu {
		right: 0;
		opacity: 1;
		min-width: 220px;
	}

	.top-bar .top-bar-menu a {
		color: #333;
		padding: 0;
	}

	.top-bar .top-bar-menu ul li {
		border-bottom: 1px solid #dfdfdf;
		display: block;
	}

	.top-bar .top-bar-menu ul li:last-child {
		border-bottom: none;
	}

	.top-bar .top-bar-menu ul li ul {
		border-top: 1px solid #dfdfdf;
		background-color: transparent;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		display: block;
		left: 40px;
		opacity: 1;
		-moz-opacity: 1;
		filter:alpha(opacity=100);
		padding: 0;
		position: static;
		top: auto;
		visibility: visible;
		width: 100%;
	}

	.top-bar .top-bar-menu ul li ul li {
		border-bottom: 1px solid #dfdfdf;
		display: block;
		float: none;
		margin: 0;
		opacity: 1;
		-moz-opacity: 1;
		filter:alpha(opacity=100);
		position: relative;
		text-align: left;
		text-transform: uppercase;
		visibility: visible;
		width: 100%;
		z-index: 1;
	}

	.top-bar .top-bar-menu ul li ul li a {
		margin-left: 15px;
	}

	.top-bar .top-bar-menu ul li ul li ul li a {
		margin-left: 30px;
	}

	.show-menu-toggle .bars:after, 
	.show-menu-toggle .bars:before,
	.show-menu-toggle .bars {
		width: 15px;
	}

	.right-top-bar .social-links {
		margin-right: 30px;
	}

	.box-title {
		font-size: 26px;
		line-height: 33px;
	}

	.more-products {
		opacity: 1;
		visibility: visible;
		margin-bottom: 0;
	}

	.sc-footer-column {
		width: 50%;
	}

	.product-widget-box .woocommerce ul.cart_list li img, 
	.product-widget-box .woocommerce ul.product_list_widget li img {
		margin-right: 0;
		width: 100%;
		margin-left: 0;
		margin-bottom: 10px;
	}
}
/* All Mobile Screen ( smaller than 768px )
================================================== */
@media only screen and (max-width: 767px) {

	#wpadminbar{
		position: fixed;
	}

	#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item > a.mega-menu-link{
		padding-left: 15px;
	}

	#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu{
		background-color: #632828;
	}
	#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item > a.mega-menu-link, #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-column > ul.mega-sub-menu > li.mega-menu-item > a.mega-menu-link,
	#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item, #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-column > ul.mega-sub-menu > li.mega-menu-item{
		color: #fff;
	}

	#mega-menu-wrap-primary #mega-menu-primary li.mega-menu-item.mega-toggle-on > ul.mega-sub-menu, #mega-menu-wrap-primary #mega-menu-primary li.mega-menu-megamenu.mega-menu-item.mega-toggle-on ul.mega-sub-menu{
		/*display: none;		*/
	}

	.header-right .cart-box:hover .widget_shopping_cart, .header-right .cart-box.focus .widget_shopping_cart{
		display: none;
	}
	#secondary{
		padding-left: 0;
		padding: 0;
	}

	#mega-menu-wrap-primary .mega-menu-toggle .mega-toggle-block-1 .mega-toggle-label{
		color: #333;
	}
	#mega-menu-wrap-primary .mega-menu-toggle .mega-toggle-block-1:after{
		color: #333;
	}
	#mega-menu-wrap-primary .mega-menu-toggle{
		border-radius: 0;
	}
	#sticky-header .wrap{
		margin: 0;
		max-width: 100%;
	}
	#mega-menu-wrap-primary ul#mega-menu-primary{
		position: absolute;
		width: 100%;
		margin-top: 2px;
	}
	body.home #sticky-header-sticky-wrapper:not(.is-sticky):before{
		left: -40px;
	}
	#site-branding img.left-mask{
		left: -4em;
		z-index: 17;
		height: 100%;
		display: none; 
	}

	body.home #sticky-header-sticky-wrapper:not(.is-sticky):after{
		right: -40px;
	}
	#site-branding img.right-mask{
		right: -4em;
		z-index: 17;
		display: none;
	}
	.custom-logo-link .custom-logo{
		height: auto !important;
		margin-left: 25px;
	}

	#site-branding{
		background-image: url(../assets/images/des2.svg), url(../assets/images/des.svg), url(../assets/images/g1580.png), url(../assets/images/bg2-header.jpg);
		background-repeat: no-repeat, no-repeat, no-repeat, repeat-x;
		background-position: right -4em top 0, left -4em top 0, left -3em bottom;
		/*border-bottom: 0;*/
		background: url(../assets/images/g1580.png) no-repeat, url(../assets/images/bg2-header.jpg) repeat-x;
		background-position: left -3em bottom, left top;
		background-size: contain, contain;

	}

	.top-header > #site-branding:before {
		content: "";
		position: absolute;
		background-image: url(../assets/images/des.svg);
		height: 100%;
		width: 150px;
		background-size: contain;
		background-repeat: no-repeat;
		left: -51px;
		background-position-y: bottom;
		bottom: -3px;
	}

	.top-header > #site-branding:after {
		content: "";
		position: absolute;
		background-image: url(../assets/images/des2.svg);
		height: 100%;
		width: 150px;
		background-size: contain;
		background-position-y: bottom;
		background-repeat: no-repeat;
		background-position-x: right;
		right: -51px;
		bottom: -3px;
	}

	.muscledog{
		bottom: 0px;
	}
	#site-branding .wrap{
		text-align: left;
	}
	.custom-logo-link{
		padding-top: 0px;
	}




	.header-right{
		position: unset;
	}
	#site-branding .wrap{
		position: unset;
	}

	body.admin-bar .user-tool{
		top: 46px;
	}
	/* #masthead .top-header{
		padding-top: 40px;
	} */
	.user-tool{
		/*display: none;*/
	}
	.cart-box .my-cart-wrap{
		display: none;
	}
	body.home .top-header > #site-branding.animate{
		animation: none;
		
	}
	.user-tool{
		position: fixed;
		top: 0px; /*-60*/
		text-align: initial;
		width: 100%;
		left: 0;
		white-space: nowrap;
		transform: initial;
		margin-top: 0;
		height: 60px;;
		padding-top: 10px;
		background: linear-gradient(0deg, #501010, #a72e2e);
		z-index: 1002;
		-webkit-box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.5);
		-moz-box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.5);
		  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.5);
	}
	.wishlist-btn, .header-right .wcmenucart-contents{
		padding: 8px 15px 8px 15px;
	}
	.header-right > #search-box{
		left: 15px;
		top: -50px;
		right: 15px;
		/* width: 100%; */
		max-width: 100%;
	}

	#site-branding .left-mask,
	#site-branding .right-mask,
	#site-branding .muscledog,
	#site-branding .custom-logo,
	.top-header > #site-branding:before,
	.top-header > #site-branding:after{
		display: none;
	}
	#site-branding{
		background: transparent;
		padding-top: 0;
		background-image: none;
		border-bottom: none;
		padding: 0;
	}
	#site-branding > .wrap{
		height: 60px;
	}
	/* #masthead .top-header{
		padding-top: 0;
	} */
}
/* All Mobile Screen ( smaller than 768px )
================================================== */
@media only screen and (max-width: 600px) {
	/*#sticky-header-sticky-wrapper #sticky-header{
		position: absolute !important;
		top: 0;
	}

	.user-tool{
		top: -60px;
		left: 0;
		transform: initial;
		margin-top: 0;
		height: 60px;;
		padding-top: 10px;
	}

	.user-tool .user-login{
		margin-left: 0px;
		border-left: 1px solid #1b1b1b;
		padding-left: 10px;
	}

	#site-branding .wrap{
		position: unset;
	}

	#masthead .top-header{
		padding-top: 60px;
	}

	.header-right{
		position: unset;
	}

	body.home #sticky-header-sticky-wrapper:not(.is-sticky):before,
	body.home #sticky-header-sticky-wrapper:not(.is-sticky):after{
		z-index: 3;
	}

	#sticky-header .wrap{
		margin: 0;
		max-width: 100%;
	}
	.muscledog{
		display: none;
	}

	body.home #sticky-header-sticky-wrapper:not(.is-sticky){
		border-bottom: 0;
	}

	#mega-menu-wrap-primary .mega-menu-toggle .mega-toggle-block > .mega-toggle-label{
		display: none;
	}

	#mega-menu-wrap-primary .mega-menu-toggle{
		border-radius: 0;
		height: 60px;
	}*/

}

/* All Mobile Screen ( smaller than 768px )
================================================== */
@media only screen and (max-width: 767px) {
	.comments-title,
	#respond h3#reply-title {
		font-size: 26px;
		line-height: 1.231;
	}
	
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p {
		margin-bottom: 10px;
	}
	
	hr {
		margin-bottom: 30px;
	}
	
	input[type="text"],
	input[type="email"],
	input[type="search"],
	input[type="password"],
	textarea,
	input[type="reset"],
	input[type="button"],
	input[type="submit"] {
		margin-bottom: 20px;
	}
	
	input.s {
		margin: 0;
	}

	.top-bar .widget_contact {
		width: calc(100% - 80px);
	}

	.main-slider {
		width: 100%;
	}
	
	.page-header {
		padding: 10px 20px;
	}
	
	body #content {
		padding-bottom: 0;
	}
	
	/* ----- Column ----- */
	.column {
		margin: 0;
	}
	.wrap{
		padding-top: 25px;
	}
	
	.two-column,
	.three-column {
		padding: 0 0 30px;
		width: 100%;
	}
	
	.two-column-full-width,
	.four-column-full-width,
	.boxed-layout-small .four-column-full-width,
	#primary .three-column, 
	#primary .four-column-full-width, 
	#primary .four-column {
		margin: 0;
		width: 100%;
	}
	
	.four-column {
		padding: 0 10px 30px;
		width: 50%;
	}
	
	.three-column:nth-child(2n+3) {
 		clear: none;
	}
	
	.three-column-post .post-container,
	.four-column-post .post-container {
		width: 50%;
	}

	.top-bar .top-bar-menu {
		width: 100%;
	}

	.right-top-bar .social-links {
		display: none;
	}

	#site-branding,
	.header-right {
		float: none;
		text-align: center;
	}

	#search-box input[type="search"] {
		margin-bottom: 0;
	}

	#search-box input.search-field {
		width: calc(100% - 50px);
	}

	#search-box .search-submit,
	#search-box .woocommerce-product-search button[type="submit"] {
		width: 50px;
	}

	/* ----- Main menu start ----- */

	.menu-toggle {
		background-color: rgba(0, 0, 0, 0);
		border: 0 none;
		cursor: pointer;
		display: none;
		font-size: 0;
		padding: 20px 0;
		width: 30px;
		position: absolute;
		right: 0;
		top: 6px;
	}

	.menu-toggle .line-bar:before {
		transition: top 0.1s ease 0.14s, 
		opacity 0.1s ease 0s;
	}

	.line-bar:before {
		top: -8px;
	}

	.line-bar:after {
		bottom: -8px;
	}

	.line-bar:after, 
	.line-bar:before {
		content: "";
		display: block;
	}

	.line-bar, 
	.line-bar:after, 
	.line-bar:before {
		border-radius: 5px;
		height: 2px;
		position: absolute;
		transition-duration: 0.15s;
		transition-property: transform, -webkit-transform;
		transition-timing-function: ease;
		width: 30px;
	}

	.menu-toggle .line-bar:after {
		transition: bottom 0.1s ease 0.14s, 
		transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s, 
		-webkit-transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s;
	}
	.menu-toggle .line-bar {
		transition-duration: 0.1s;
		transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
	}

	.line-bar {
		display: block;
		margin-top: -2px;
	}

	.menu-toggle.on .line-bar:before {
		opacity: 0;
		top: 0;
		transition: top 0.1s ease 0s, opacity 0.1s ease 0.14s;
	}

	.menu-toggle.on .line-bar:after {
		bottom: 0;
		transform: rotate(-90deg);
		transition: bottom 0.1s ease 0s, 
		transform 0.1s cubic-bezier(0.215, 0.61, 0.355, 1) 0.14s, 
		-webkit-transform 0.1s cubic-bezier(0.215, 0.61, 0.355, 1) 0.14s;
	}

	.menu-toggle.on .line-bar {
		transform: rotate(45deg);
		transition-delay: 0.14s;
		transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	}
	
	.menu {
		display: none;
	}

	.toggled-on .menu {
		display: block;
	}

	.hide-catalog-menu .menu-toggle {
		position: relative;
		top: 2px;
	}
	
	.widget_nav_menu .menu {
		display: block;
	}

	.sub-menu-toggle {
		background-color: #333;
		color: #fff;
		float: right;
		width: 30px;
		height: 30px;
		text-align: center;
		line-height: 30px;
		margin: 6px;
		cursor: pointer;
		position: relative;
		z-index: 9;
	}

	.main-navigation {
		display: block;
		padding: 0;
/*		min-height: 45px;*/
	}
	
	.hide-catalog-menu .main-navigation {
		text-align: center;
	}
	
	.main-navigation > ul > li {
		position: inherit;
		width: 100%;
		border-top: 1px solid rgba(0, 0, 0, 0.1);
		margin-left: 0;
	}
	
	.main-navigation > ul > li::before {
		visibility: hidden;
	}
	
	.main-navigation a {
		float: none;
		height: inherit;
		line-height: 1.833;
		padding: 10px 0;
	}

	/* ----- Dropdown ----- */
	.main-navigation ul li:hover ul {
	  	top: auto;
	}
	
	.main-navigation ul li ul {
		background-color: transparent;
		border-top: none;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		display: block;
		left: 40px;
		opacity: 1;
		-moz-opacity: 1;
		filter:alpha(opacity=100);
		position: static;
		top: auto;
		visibility: visible;
		width: 100%;
		transition: none;
	}
	
	.main-navigation ul li ul li {
		float: none;
		margin: 0;
		position: relative;
	    text-align: left;
	    width: 100%;
	    z-index: 1;
	    display: block;
		opacity: 1;
		-moz-opacity: 1;
		filter:alpha(opacity=100);
	  	visibility:visible;
	}
	
	.main-navigation ul li ul li {
    	border-top: 1px solid rgba(0, 0, 0, 0.1);
	}
	
	.main-navigation ul li ul li::before {
		position: static;
	}
	
	.main-navigation ul li ul li ul {
		left: 160px;
		display: block;
		opacity: 1;
		-moz-opacity: 1;
		filter:alpha(opacity=100);
	  	visibility:visible;
	}
	
	/*#site-navigation ul ul ul a {
		padding-left: 40px;
	}*/

	#mega-menu-wrap-primary #mega-menu-primary > .mega-menu-megamenu > ul.mega-sub-menu {
		background-image: none !important;
	}
	
	.main-navigation ul ul li:hover ul {
		top: 0;
		display: block;
	  	opacity: 1;
		-moz-opacity: 1;
		filter:alpha(opacity=100);
	  	visibility:visible;
	}

	.main-navigation li.menu-item-has-children > a:after, 
	.main-navigation li.page_item_has_children > a:after {
		display: none;
	}

	.is-sticky .main-navigation a {
		line-height: inherit;
	}

	/* ----- Main menu end ----- */

	.catalog-slider-promotion-box .catalog-menu-box {
		display: none;
	}

	.catalog-menu-box {
		background-color: #fff;
		-webkit-box-shadow: 0 0px 3px rgba(0, 0, 0, 0.20);
		-moz-box-shadow: 0 0px 3px rgba(0, 0, 0, 0.20);
		box-shadow: 0 0px 3px rgba(0, 0, 0, 0.20);
		z-index: 9999;
		position: fixed;
		left: -100%;
		height: 100%;
		max-width: 360px;
		top: 0;
		-webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		-ms-transition: all 0.5s ease;
		transition: all 0.5s ease;
		overflow: hidden;
	}

	.catalog-menu-wrap {
		padding: 50px 30px 0;
		overflow-y: scroll;
		position: relative;
		height: 100%;
		margin-right: -17px;
	}
		
	.catalog-menu-box.show {
		left: 0;
	}

	.admin-bar .catalog-menu-box {
		top: 30px;
	}

	.page-overlay.catalog-menu-open {
		visibility: visible;
		opacity: 1;
		-moz-opacity: 1;
		filter:alpha(opacity=100);
	}

	.page-overlay {
		position: fixed;
		display: block;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background-color: rgba(34, 34, 34, 0.6);
		cursor: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cpath fill='%23FFF' d='M20 1l-1-1-9 9-9-9-1 1 9 9-9 9 1 1 9-9 9 9 1-1-9-9'/%3E%3C/svg%3E"),pointer;
		z-index: 999;
		visibility: hidden;
		opacity: 0;
		-moz-opacity: 0;
		filter:alpha(opacity=0);
		-webkit-transition: all .4s cubic-bezier(.075,.82,.165,1),opacity 250ms;
		-moz-transition: all .4s cubic-bezier(.075,.82,.165,1),opacity 250ms;
		-o-transition: all .4s cubic-bezier(.075,.82,.165,1),opacity 250ms;
		transition: all .4s cubic-bezier(.075,.82,.165,1),opacity 250ms;
	}

	.header-catalog-menu-wrap {
		display: block;
	}

	.show-menu-toggle {
		background-color: transparent;
		border: none;
		cursor: pointer;
		display: inline-block;
		float: left;
		padding: 13px 0;
	}

	.show-menu-toggle .sn-text {
		font-size: 20px;
		line-height: 20px;
		margin-left: 5px;
	}

	.show-menu-toggle .bars:after, 
	.show-menu-toggle .bars:before {
		background-color: #999;
		position: absolute;
		content: '';
		display: inline-block;
		height: 2px;
		outline: 1px solid transparent;
		right: 0;
		width: 25px;
		-webkit-transition: all 0.25s;
		-moz-transition: all 0.25s;
		-o-transition: all 0.25s;
		transition: all 0.25s;
	}

	.show-menu-toggle .bars:after {
		top: 7px;
	}

	.show-menu-toggle .bars:before {
		top: -7px;
	}

	.show-menu-toggle .bars {
		background-color: #999;
		display: inline-block;
		width: 25px;
		height: 2px;
		position: relative;
		top: -13px;
		vertical-align: bottom;
	}

	.hide-menu-toggle {
		cursor: pointer;
		padding: 4px 20px 10px;
		position: absolute;
		right: 14px;
		top: 0;
		background-color: #333;
	}

	.hide-menu-toggle .bars:after, 
	.hide-menu-toggle .bars:before {
		background-color: #fff;
		position: absolute;
		content: '';
		display: inline-block;
		width: 20px;
		height: 2px;
		-webkit-transition: all ease .3s;
		-moz-transition: all ease .3s;
		-o-transition: all ease .3s;
		-ms-transition: all ease .3s;
		transition: all ease .3s;
		outline: 1px solid transparent;
		left: 0;
	}

	.hide-menu-toggle .bars:after {
		top: 0;
		-webkit-transform: translateX(-50%) rotate(-45deg);
		-moz-transform: translateX(-50%) rotate(-45deg);
		-ms-transform: translateX(-50%) rotate(-45deg);
		-o-transform: translateX(-50%) rotate(-45deg);
		transform: translateX(-50%) rotate(-45deg);
	}

	.hide-menu-toggle .bars:before {
		top: 0;
		-webkit-transform: translateX(-50%) rotate(45deg);
		-moz-transform: translateX(-50%) rotate(45deg);
		-ms-transform: translateX(-50%) rotate(45deg);
		-o-transform: translateX(-50%) rotate(45deg);
		transform: translateX(-50%) rotate(45deg);
	}

	.hide-menu-toggle .bars {
		display: inline-block;
		position: relative;
		top: -10px;
		vertical-align: bottom;
	}

	.catalog-menu-box {
		width: 100%;
	}

	.cat-nav-menu {
		min-width: 230px;
	}

	.catalog-menu ul li ul,
	.catalog-menu ul li ul li ul {
		border: none;
		position: relative;
		left: 0;
		visibility: visible;
		opacity: 1;
		display: block;
		box-shadow: none;
		transition: none;
	}
	.catalog-menu ul li ul,
	.catalog-menu ul li:hover ul ul,
	.catalog-menu ul ul li:hover ul ul,
	.catalog-menu ul ul ul li:hover ul ul,
	.catalog-menu ul ul ul ul li:hover ul ul {
		visibility: visible;
	}

	.catalog-menu li.menu-item-has-children > a:before, 
	.catalog-menu li.page_item_has_children > a:before {
		transform: rotate(90deg);
	}

	.box-header {
		padding: 0;
	}

	#main .post {
		margin-bottom: 30px;
	}

	.site-main .post:nth-child(3) {
		margin-right: 0;
		width: 100%;
	}

	.site-main .post:nth-child(4) {
		margin-left: 0;
		width: 100%;
	}
	
	.two-column-blog #primary .post {
		width: 100%;
		float: left;
		margin-right: 0;
	}

	.site-main .post .post-image-content,
	.small-image-blog .site-main .post:nth-child(2) .post-image-content,
	.small-image-blog .site-main .post:nth-child(3) .post-image-content, 
	.small-image-blog .site-main .post:nth-child(4) .post-image-content {
		margin-bottom: 30px;
		margin-right: 0;
		width: 100%;
	}

	.small-image-blog .site-main .post:nth-child(3) {
		margin-right: 0;
	}

	.two-column-blog #primary .post:nth-child(2n+1) {
		margin-left: 0;
	}

	.promo-content-wrap,
	.advertisement-banner-one .shoppingcart-grid-widget-wrap,
	.product-widget-box .shoppingcart-grid-widget-wrap {
		margin-left: -10px;
	}

	.promo-content-wrap {
		width: calc(100% + 10px);
	}

	.promo-category-content,
	.advertisement-banner-one .shoppingcart-grid-product,
	.product-widget-box .shoppingcart-grid-product {
		margin-bottom: 10px;
		padding-left: 10px;
	}

	.shoppingcart-slide-widget .shoppingcart-grid-product {
		padding: 0;
		margin: 0;
	}

	.promo-category-content,
	.big-promo-category .promo-content-wrap .promo-category-content:first-child,
	.advertisement-banner-one .three-column-grid .shoppingcart-grid-product,
	.advertisement-banner-one .four-column-grid .shoppingcart-grid-product,
	.advertisement-banner-one .five-column-grid .shoppingcart-grid-product,
	.advertisement-banner-one .six-column-grid .shoppingcart-grid-product,
	.advertisement-banner-one .seven-column-grid .shoppingcart-grid-product,
	.product-widget-box .three-column-grid .shoppingcart-grid-product,
	.product-widget-box .four-column-grid .shoppingcart-grid-product,
	.product-widget-box .five-column-grid .shoppingcart-grid-product,
	.product-widget-box .six-column-grid .shoppingcart-grid-product,
	.product-widget-box .seven-column-grid .shoppingcart-grid-product {
		width: 50%
	}

	.three-ad-banner .ad-banner-top-image {
		width: 100%;
		display: block;
		padding-bottom: 10px;
	}

	.advertisement-banner-one {
		margin-top: 10px;
	}

	.catalog-slider-promotion-wrap {
		padding: 10px;
	}

	.product-promotion-wrap {
		margin: 10px -7px 0;
	}
	
	.widget_custom-tagcloud {
		margin-bottom: 32px;
	}
	
	.widget_posts {
		margin-bottom: 20px;
	}

	.brand-wrap {
		width: 80%;
	}

	.product-widget-box .woocommerce ul.cart_list, 
	.product-widget-box .woocommerce ul.product_list_widget {
		margin-left: -10px;
	}

	.product-widget-box .woocommerce ul.cart_list li, 
	.product-widget-box .woocommerce ul.product_list_widget li {
		width: calc(50% - 14px);
		margin-bottom: 10px;
		margin-left: 10px;
	}
	
	#colophon .widget_posts {
		margin-bottom: 20px;
	}
	
	.site-info #site-branding {
		max-width: 100%;
	}

	.site-info .social-links,
	.site-info .copyright {
		float: none;
		text-align: center;
	}
}

/* All Mobile Screen ( smaller than 481px )
================================================== */
@media only screen and (max-width: 480px) {
	.boxed-layout #colophon,
	.boxed-layout-small #colophon {
		margin-bottom: 10px;
	}

	/* ----- Column ----- */
	.column {
		margin: 0;
	}
	
	.four-column {
		padding: 0 0 30px;
		width: 100%;
	}
	
	.four-column:nth-child(2n+3) {
		clear: none;
	}
	
	.two-column-post .post-container,
	.three-column-post .post-container,
	.four-column-post .post-container {
		width: 100%;
	}

	.custom-logo-link .custom-logo {
		height: 50px;
	}

	#search-box {
		max-width: 175px;
		margin-top: 5px;
	}

	#search-box input.search-field,
	#search-box .woocommerce-product-search button[type="submit"],
	#search-box .search-submit {
		height: 30px;
	}
	
	.btn-default {
		padding: 6px 18px;
		font-size: 13px;
	}

	.catalog-slider-promotion-box {
		margin-top: 10px;
	}

	.catalog-menu-box {
		right: -200%;
		max-width: 280px;
	}

	.catalog-menu-wrap {
		margin-right: 0;
	}

	.box-header {
		margin-bottom: 30px;
	}

	.box-title {
		font-size: 22px;
		line-height: 28px;
	}

	.box-sub-title {
		font-size: 13px;
	}

	.product-promotion-content {
		display: inline-block;
		padding-left: 10px;
		padding-right: 10px;
		width: 50%;
		margin: 0 -2px 10px;
	}

	.product-promotion-content:last-child {
		margin-bottom: 20px;
	}

	.hide-catalog-menu .product-promotion-content, 
	.full-width-slider .product-promotion-content {
		width: 50% !important;
	}

	.promo-category-text {
		margin: 0;
	}

	.promo-category-text h4 {
		font-size: 14px;
	}

	.promo-category-text p {
		line-height: 15px;
		font-size: 9px;
	}

	.more-products {
		font-size: 12px;
	}
}

/* All Mobile ( smaller than 320px )
================================================== */
@media only screen and (max-width: 319px) {
	.slider-content {
		padding: 15px 0;
	}

	.sc-footer-column {
		width: 100%;
	}
}


@media only screen and (max-width: 767px){
	body.external-product #content,
	body.external-product .wrap,
	body.external-product .page-header{
		margin-top: 0!important;
		padding-top: 0!important;
		padding: 0 !important; 
	}

	body.external-product  .new-nav-sidebar{
		display: none !important;
	}
	body.theme-muscleboss.external-product{
		margin-top: 0px;
	}
	
	
}