
.sidebar .head a { color: #fff; border-bottom: 1px dashed #dc3545; text-decoration: none; transition: all .3s; }
.sidebar .head a:hover, .sidebar a:focus { color: #dc3545; border: 0; text-decoration: none; }
.sidebar.light .head a { color: #888; border-bottom: 1px dashed #dc3545; text-decoration: none; transition: all .3s; }
.sidebar.light .head a:hover, .sidebar.light .head a:focus { color: #dc3545; border: 0; text-decoration: none; }

/***** Sidebar *****/
.sidebar {
	width: 350px; height: 100vh; position: fixed; top: 0; left: -355px; z-index: 999999; 
	background: #333; color: #fff; transition: all .3s; box-shadow: 3px 3px 3px rgba(51, 51, 51, 0.5);
	text-align: left;
}
.sidebar.active { left: 0; }
.dismiss {
	width: 35px; height: 35px; position: absolute; top: 25px; right: 20px; transition: all .3s; 
	background: #444; border-radius: 4px; text-align: center; line-height: 35px; cursor: pointer;
}
.dismiss:hover, .dismiss:focus { background: #555; color: #fff; }

.sidebar ul li a {
	display: block; padding: 10px 20px;
	border: 0; color: #fff;
	text-transform: uppercase;
}
.sidebar ul li a:hover,
.sidebar ul li a:focus,
.sidebar ul li.active > a:hover,
.sidebar ul li.active > a:focus { outline: 0; background: #555; color: #fff; }
.sidebar ul li a i { margin-right: 5px; }
.sidebar ul li.active > a[aria-expanded="true"] {
	background: #444;
	color: #fff;
}
.sidebar ul ul a { background: #444; padding-left: 30px; font-size: 14px; }
.sidebar ul ul li.active > a { background: #555; }
.sidebar a[data-toggle="collapse"] {
    position: relative;
}
.sidebar .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
.sidebar .to-top { padding: 20px; text-align: center; }
.sidebar .dark-light-buttons { padding: 10px 20px 30px 20px; text-align: center; display: none; }

/* sidebar light */
.sidebar.light { background: #fff; color: #888; }
.sidebar.light .dismiss { background: #ddd; color: #888; }
.sidebar.light .dismiss:hover, 
.sidebar.light .dismiss:focus { background: #ccc; color: #888; }
.sidebar.light .logo { border-color: #eee; }
.sidebar.light .logo a { background-image: url(../img/logo-dark.png); }
.sidebar.light ul.menu-elements { border-color: #eee; }
.sidebar.light ul li a { color: #888; }
.sidebar.light ul li a:hover,
.sidebar.light ul li a:focus,
.sidebar.light ul li.active > a:hover,
.sidebar.light ul li.active > a:focus { background: #ccc; color: #888; }
.sidebar.light ul li.active > a, .sidebar.light a[aria-expanded="true"] {
	background: #ddd;
	color: #888;
}
.sidebar.light ul ul a { background: #ddd; }
.sidebar.light ul ul li.active > a { background: #ccc; }
.sidebar.light a.btn-customized-3 { background: #ddd; color: #888; }
.sidebar.light a.btn-customized-3:hover, 
.sidebar.light a.btn-customized-3:active, 
.sidebar.light a.btn-customized-3:focus, 
.sidebar.light a.btn-customized-3:active:focus, 
.sidebar.light a.btn-customized-3.active:focus,
.sidebar.light a.btn-customized-3.btn.btn-primary:not(:disabled):not(.disabled):active,
.sidebar.light a.btn-customized-3.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
	background: #ccc; color: #888;
}

.sidebar.light a.btn-customized-4.btn-customized-dark { background: #555; }
.sidebar.light a.btn-customized-4.btn-customized-light { background: #eee; }
.sidebar.light a.btn-customized-4.btn-customized-dark:hover, 
.sidebar.light a.btn-customized-4.btn-customized-dark:active, 
.sidebar.light a.btn-customized-4.btn-customized-dark:focus, 
.sidebar.light a.btn-customized-4.btn-customized-dark:active:focus, 
.sidebar.light a.btn-customized-4.btn-customized-dark.active:focus,
.sidebar.light a.btn-customized-4.btn-customized-dark.btn.btn-primary:not(:disabled):not(.disabled):active,
.sidebar.light a.btn-customized-4.btn-customized-dark.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
	background: #ccc; color: #fff;
}
.sidebar.light a.btn-customized-4.btn-customized-light:hover, 
.sidebar.light a.btn-customized-4.btn-customized-light:active, 
.sidebar.light a.btn-customized-4.btn-customized-light:focus, 
.sidebar.light a.btn-customized-4.btn-customized-light:active:focus, 
.sidebar.light a.btn-customized-4.btn-customized-light.active:focus,
.sidebar.light a.btn-customized-4.btn-customized-light.btn.btn-primary:not(:disabled):not(.disabled):active,
.sidebar.light a.btn-customized-4.btn-customized-light.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
	background: #ccc; color: #fff;
}

/***** Dark overlay *****/
.overlay {
    display: none; position: fixed; width: 100vw; height: 100vh; 
    background: rgba(51, 51, 51, 0.7); z-index: 998; opacity: 0; transition: all .5s ease-in-out;
}
.overlay.active { display: block; opacity: 1; }

/***** Buttons *****/
a.btn-customized {
	margin-left: 5px; margin-right: 5px; padding: .75rem 1.5rem; 
	background: #f35b3f; border: 0; border-radius: 4px; 
	font-size: 16px; font-weight: 300; color: #fff; box-shadow: none;
}

a.btn-customized-4 {
	display: inline-block; width: 28px; height: 28px; margin: 0 3px; padding: 0; 
	background: #444; border: 0; border-radius: 50%; 
	font-size: 16px; font-weight: 300; color: #fff; box-shadow: none; text-indent: -999999px;
}
a.btn-customized-4.btn-customized-dark { background: #222; }
a.btn-customized-4.btn-customized-light { background: #fff; }

/************ CONTEUDO SIDEMENU MUSCLEBOSS **************/

.sidebar .side-header{
	border-bottom: 1px solid gainsboro;
	margin-bottom: -5px;
	padding-bottom: 10px;
	text-align:center;
	padding-left:10px;
	padding-top: 10px;
}

.sidebar .side-header .head{
	display: flex;
	flex-wrap: nowrap;
	padding: 10px;
	justify-content: center;

}
.sidebar .side-header .head:first-child{
	/* margin: 10px 55px 0px 10px; */
	/* justify-content: space-between; */
	margin-right:50px;
	font-size: 14px;
}
.sidebar .side-header .welcome-in, .sidebar .side-header .welcome-off{
	margin:auto;
}
.sidebar .side-header .head div{
	padding: 0 20px;
}
.sidebar .side-body .nao-socio{
	display: flex;
	flex-wrap: wrap;
	padding: 20px;
	justify-content: center;
}	

.sidebar .side-body .nao-socio p{
	text-align: center;
	font-size: 14px;
	line-height: 1.5em;
}
.sidebar .side-body .socio{
	display: flex;
	flex-wrap: nowrap;
	padding: 20px;
	justify-content: space-between;
}	
.sidebar .side-body .socio .user-col{
	text-align: center;
	padding: 3px;
	font-size: 12px;
}	
.sidebar .side-body .socio .user-col p{
	line-height: 1.5em;
	margin-bottom: 2px;
}	
.sidebar .side-body .socio .user-col p i{
	color: limegreen
}	
.sidebar .side-body .socio img{
	border-radius: 100%;
}
.sidebar .side-body .middle-menu{
	border-bottom: 1px solid #444;
	padding-bottom: 15px;
}
.sidebar .do-login{
	
	justify-content: center;
	margin-bottom: 10px;
}
.sidebar .do-login div{
	padding: 0 20px;
}
.sidebar .side-body .saiba-mais{
	background-color: #dc3545;
    padding: 8px 20px;
    border-radius: 30px;
    color: white;
}
.sidebar .head .favorit i, .sidebar .head .cart i{
	/* color: #dc3545; */
	font-size:24px;
}
/* .sidebar .side-body{
	padding-bottom: 50px;
}

 */

/* menu desktop abaixo do new side bar  new-nav-main-menu */
.new-nav-wraper{
	background-color: #fff;
	height: 60px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top:90px;
	padding: 0 15%;
	align-items: center;
}
.new-nav-wraper ul.middle-menu{
	/* background-color:aquamarine; */
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	margin: unset;
	align-items: center;
	margin-bottom: initial !important;

}
.new-nav-wraper ul.middle-menu li{
	/* background-color:rgb(184, 158, 255); */
	margin: 0 20px;
}
.new-nav-wraper .new-nav-logo-socio svg{
	height: 60px;
}

/* @media only screen and (max-width: 767px){ */
	body.theme-muscleboss{
		
	}
	/* #masthead{
		display:none;
	} */
	html #wpadminbar{
		display: none;
	}
	.new-nav-sidebar{
		padding: 0 15%;
		justify-content: space-between;
		color: white;
		display:inline-flex !important;
		font-size: 26px;
		/* padding: 10px 5px; */
		position:fixed;
		top: 0px;
		height: 90px;
		z-index: 99999;
		width: 100%;
		background-color: #333333;
		border-bottom: 1px solid #aaa;
		align-items: center;		
	}
	.new-nav-sidebar .logo-wrapper{
		min-width: 100px;
		max-width: 100px;
	}
	@media screen and (max-width: 776px){
		.new-nav-sidebar {
			height: 60px;
			border-bottom: 1px solid;
		}
		.new-nav-sidebar .logo-wrapper{
			min-width: 74px;
			max-width: 74px;
		}
	}
	.new-nav-sidebar a, .new-nav-sidebar .dgwt-wcas-search-wrapp{
		color: #444;
		padding-right:5px;
		padding-left: 5px;
	}
	.new-nav-sidebar .icon-text-nav{
		font-size: 12px;
		display: inline-flex;
		vertical-align: super;
		line-height: 1;
		/* margin: 0px 0px 0 0px; */
	}
	.new-nav-sidebar .new-nav-sidebar-icons li{
		margin: 0px 10px 0 20px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.new-nav-sidebar .new-nav-sidebar-icons .icon-text-nav{
		margin-left: 5px;
	}

	.dgwt-wcas-enable-mobile-form{
		height: unset !important;
	}
	.dgwt-wcas-search-wrapp{
		min-width: unset !important;
		max-width: 500px !important;
		margin: unset;
	}
	
	.new-nav-sidebar-icons{
		display: inline-flex;
		list-style: none;
	}
	.new-nav-sidebar .open-menu{
		color: #fff;
		display: none;
	}
	/* Dropdown barra de navegação new .drop-menu-desktop */
	.drop-menu-mobile{
		display: none;
	}
	.drop-menu-desktop ul{
		position: absolute;
	}
	.drop-menu-desktop ul > li{
		padding: 5px;
		background-color: #333;
		font-size: 16px;
	}
	.new-nav-sidebar-icons a{
		color: #fff;
	}
	.new-nav-sidebar-icons a:hover{
		color: #EB5757;
		background-color: #333;
		text-decoration: none;
	}
	.new-nav-sidebar .cart-qtd, .sidebar .cart-qtd{
		color: #fff;
		background-color: #EB5757;
		border-radius: 50px;
		width: 15px;
		height: 15px;
		text-align: center;
		padding: 2px 2px 0px 2px;
		margin-left: -10px;
		font-size: 11px;
		margin-right: 3px;
		vertical-align: top;
	}
	.sidebar .new-nav-logo-socio{
		position: absolute;
		bottom: 0px;
		right: -1px;
	}
	
	.sidebar .buyWhatsapp{
		background-color: #28a745;
		border-radius: 30px;
		padding: 10px;
		color: white;
		margin: 0 30px;
		text-align: center;
	}
	.wfc_cart_basket{
		border: unset !important; 
		padding: unset !important; 
		border-radius: unset !important; 
		position: unset !important; 
		right: unset !important; 
		z-index: unset !important; 
	}
	div.wfc_cart_basket{
		display: none;
	}
	
	@media(max-width: 1024px){
		.new-nav-wraper, .new-nav-sidebar{
			padding: 0 5%;
		}
	}
	@media(max-width: 768px){
		/* Esconde barras no mobile */
		.wrap-top{
			margin-top: 30px; 
		}
		.new-nav-wraper{
			display: none;
		}
		.new-nav-sidebar-icons li.drop-menu-desktop, .new-nav-sidebar-icons li.contact,
		.new-nav-sidebar-icons .my-cart, .new-nav-sidebar-icons .register{
			display:none;
		}
		.new-nav-sidebar .open-menu{
			display:block;
		}
		.new-nav-wraper, .new-nav-sidebar{
			padding: 10px;
		}
		.drop-menu-mobile{
			display: block;
		}
		/* corrige barra pesquisar no mobile */
		.dgwt-wcas-search-wrapp, .new-nav-sidebar .new-nav-sidebar-icons li{
			margin: unset !important;
			width: unset !important;
		}
		
	}
	/* Esconde botão sair no menu desktop e deixa ele só no dropdown do minha conta */
	@media(min-width: 768px){
		.middle-menu li.sair-desktop{
			display: none !important;
		}
	}
/* } */