.header-primary{
    text-align: center;
}
.woocommerce-account{
    .woocommerce-MyAccount-navigation ul{
        margin: 0;
    }
}

/* 11.0 Logo-Name-Slogan
================================================== */
#site-branding {
	position: relative;
	text-align: left;
	padding: 15px 0 20px;
    background-image: url(assets/images/g1580.png), url(assets/images/g1581.png), url(assets/images/bg2-header.jpg);
    background-size: contain, contain, contain;
    background-position-x: left, right;
	background-repeat: no-repeat, no-repeat, repeat-x;
    border-bottom: 2px solid #c1272d;
    > .wrap{
        height: 90px;
    }

}
body.home .top-header > #site-branding{
	
}
body.home .top-header > #site-branding.animate{
	animation: 1.0s ease-out 0s headerdown;
	
}
@keyframes headerdown{
	0%{
		transform: translateY(-150px);
	}
	100%{
		transform: translateY(0);
	}
}
/*
#site-branding {
	position: relative;
	text-align: left;
	padding: 15px 0 20px;
    background-image: url(assets/images/des.svg), url(assets/images/des2.svg), url(assets/images/g1580.png), url(assets/images/g1581.png), url(assets/images/bg-header.jpg);
    background-size: contain, contain, contain, contain, contain;
    background-position-x: left, right, left, right;
	background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, repeat-x;
	border-bottom: 2px solid #c1272d;
}
*/

#site-branding img.left-mask{
	height: calc(100% + 2px);
    position: absolute;
	top: 0;
	left: -2px;
}
#site-branding img.right-mask{
	height: calc(100% + 2px);
	position: absolute;
	right: -2px;
	top: 0;
	z-index: 2;
}


#site-detail {
	display: inline-block;
	text-align: left;
	vertical-align: middle;
}

#site-title {
	font-family: "Roboto", sans-serif;
	font-size: 28px;
	font-weight: 500;
	letter-spacing: 1px;
	line-height: 38px;
	margin: 0;
	-webkit-transition: all 300ms ease-out 0s;
	-moz-transition: all 300ms ease-out 0s;
	-o-transition: all 300ms ease-out 0s;
	-ms-transition: all 300ms ease-out 0s;
	transition: all 300ms ease-out 0s;
}

#site-title a {
	color: #f77426;;
	display: block;
}

#site-description {
	clear: both;
	color: #222;
	font-family: "Roboto", sans-serif;
	font-size: 11px;
	font-weight: 400;
	letter-spacing: 0.1em;
	line-height: 1.727;
	margin: 0;
	text-transform: uppercase;
}

.custom-logo-link {
	display: inline-block;
    margin-left: 60px;
    position: absolute;
}

.is-sticky #sticky-header .custom-logo-link {
	position: initial;
}

a.logo-topbar:before{
	content: "";
    display: block;
    width: 129px;
    height: 54px;
    background-image: url(./assets/images/muscle-dog-bar.png);
    position: absolute;
    left: -35px;
    top: 0px;
}


.custom-logo-link .custom-logo {
	height: 90px;
	width: auto;
	vertical-align: middle;
}

#sticky-header #site-branding {
	display: none;
	background-color: transparent;
	float: left;
	padding: 5px 15px 5px 0;
}

.is-sticky #sticky-header #site-branding {
	display: block;
	background-image: none;
	border: 0;
}

#sticky-header #site-branding .custom-logo {
	height: 40px;
	width: auto;
}

#sticky-header #site-title {
	font-size: 22px;
	line-height: 25px;
}

#sticky-header #site-description {
	font-size: 9px;
	line-height: 15px;
}

.header-right {
	display: inline-block;
	padding-top: 12px;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	text-align: center;
}

#sticky-header .header-right {
	display: none;
	padding-top: 8px;
}

.is-sticky  #sticky-header .header-right {
	display: block;
}

.muscle-card{
	box-shadow: 0 1px 3px rgba(0,0,0,.2);
    padding: 42px 32px 42px;
    background: #fff;
}
form.anim{
	input{
		background-color: #fff;
		border-radius: 0;
	}
.form-wrapper {
	max-width: 30%;
	min-width: 300px;
	padding: 50px 30px 50px 30px;
	margin: 50px auto;   
	background-color: #ffffff;
	border-radius: 5px;
	box-shadow: 0 15px 35px rgba(50,50,93,.1),0 5px 15px rgba(0,0,0,.07);
  }
  
  .form-group {
	position:relative;  
  
	& + .form-group {
	  margin-top: 30px;
	}
  }
  
  .form-label {
	position: absolute;
	left: 0;
	top: 10px;
	color: #999;
	background-color: #fff;
	z-index: 10;
	transition: transform 150ms ease-out, font-size 150ms ease-out;
  }
  
  .focused .form-label {
	transform: translateY(-125%);
	font-size: .75em;
  }
  
  .form-input {
	position: relative;
	padding: 12px 0px 5px 0;
	width: 100%;
	outline: 0;
	border: 0;
	box-shadow: 0 1px 0 0 #e5e5e5;
	transition: box-shadow 150ms ease-out;
	
	&:focus {
	  box-shadow: 0 2px 0 0 blue;
	}
  }
  
  .form-input.filled {
	box-shadow: 0 2px 0 0 lightgreen;
  }

}

.search-button-mobile{
	display: none;
}

@media only screen and (max-width: 767px) {

	#search-box:before {
		content: " ";
		background: #770023;
		/* width: 100%; */
		left: -15px;
		right: -15px;
		height: 65px;
		box-shadow: 2px 2px 10px #000;
		top: -15px;
		position: absolute;
		z-index: -1;
	}

	body.admin-bar .header-right > #search-box.show {
		transform: translateY(165px);
	}
	.header-right > #search-box.show {
		transform: translateY(120px);
	}

	.header-right > #search-box {
		display: block;
		z-index: 5;
		position: fixed;
		left: 15px;
		top: -50px;
		right: 15px;
		max-width: 100%;
		transition: transform 1s;
	}
	#socio-header{
		display: none;
	}
	.search-button-mobile{
		display: inline-block;
	}
	.search-button-mobile i{
		cursor: pointer;
		padding: 2px 0 2px 7px;
    	float: left;
	}
}