/* Woocommerce
================================================== */
.woocommerce #main .page-title {
	display: none;
}
.woocommerce-ordering .orderby {
	background-color: #fafafa;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 5px;
	font-size: 15px;
}

.woocommerce #respond input#submit, 
.woocommerce a.button, 
.woocommerce button.button, 
.woocommerce input.button {
	background-color: #f77426;
	color: #fff;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	font-size: 14px;
	font-weight: 400;
	-ms-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

.woocommerce #respond input#submit.alt, 
.woocommerce a.button.alt, 
.woocommerce button.button.alt, 
.woocommerce input.button.alt {
	background-color: #f77426;
	color: #fff;
	-ms-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
	
.woocommerce #respond input#submit.alt:hover, 
.woocommerce a.button.alt:hover, 
.woocommerce button.button.alt:hover, 
.woocommerce input.button.alt:hover {
	background-color: #999;
	color: #fff;
}

.woocommerce .quantity .qty {
	height: 34px;
}
/* menu active */
.new-nav-wraper .middle-menu .new-menu-active{
	border-bottom: 1px solid #dc3545;
}
.woocommerce span.onsale {
	background-color: #f77426;
	font-size: 14px;
	font-weight: 500;
	left: -20px;
	min-height: 4em;
	min-width: 4em;
	padding: 0.402em;
	top: -20px;
}

.woocommerce ul.products li.product .onsale {
	line-height: 1.2;
	border-radius: 0;
	min-height: 15px;
	top: 25px;
}

.woocommerce ul.products li.product h3 {
	font-size: 1.2em;
}

.woocommerce ul.products li.product .price {
	font-size: 1em;
}

.woocommerce div.product p.price, 
.woocommerce div.product span.price {
	color: #747474;
}

.woocommerce ul.products li.product .price {
	color: #747474;
}

.woocommerce div.product .woocommerce-tabs .panel {
	padding-top: 20px;
}

.woocommerce-demo-store p.demo_store {
	background-color: #f77426;
}

.woocommerce #content table.cart td.actions .input-text, 
.woocommerce table.cart td.actions .input-text, .woocommerce-page #content table.cart td.actions .input-text, 
.woocommerce-page table.cart td.actions .input-text {
	width: auto;
}

.woocommerce .woocommerce-message:before {
	color: #f77426;
}

.woocommerce-cart table.cart td.actions .coupon .input-text {
	padding: 10px 6px 12px;
}

.woocommerce-cart .wc-proceed-to-checkout a.checkout-button {
	padding: 15px;
}

.woocommerce table.shop_table td {
	padding: 12px;
	border-top: 0;
}

.woocommerce table.shop_table {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.woocommerce #reviews #comments ol.commentlist li .comment-text,
.woocommerce div.product .woocommerce-tabs ul.tabs li {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li:after, 
.woocommerce div.product .woocommerce-tabs ul.tabs li:before {
	display: none;
}

.woocommerce nav.woocommerce-pagination ul li a, 
.woocommerce nav.woocommerce-pagination ul li span {
	padding: 0.5em 0.8em;
}

.woocommerce .woocommerce-ordering, 
.woocommerce .woocommerce-result-count {
	margin: 0 0 3em;
}

.woocommerce ul.products li.product a img {
	margin: 0;
}

.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content {
	background-color: #ddd;
	margin: 35px 0;
}

.woocommerce .widget_price_filter .ui-slider-horizontal {
	height: 0.4em;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-range, 
.woocommerce-page .widget_price_filter .ui-slider .ui-slider-range {
	background-color: #aaa;
}
 
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
	border: 1px solid #bdbdbd;
	background-color: #f4f4f4;
	border-radius: 0;
	transform: rotate(45deg);
	height: 12px;
	width: 12px;
	top: -5px;
}

.price_slider_amount .price_label {
	color: #f77426;
	font-size: 14px;
}

.woocommerce-Price-amount.amount {
	color: #f77426;
	font-size: 15px;
	
}

.woocommerce .star-rating,
.comment-form-rating .stars span a {
	color: #ffd33b;
	font-size: 15px;
}

.product_list_widget .star-rating {
	margin: 8px 0 10px;
}

.widget_product_categories li {
	border-bottom: 1px solid #eee;
	position: relative;
}

.widget_product_categories li:before {
	color: #999;
	content: "❖";
	margin-right: 10px;
}

.product-categories li ul {
	border-top: 1px solid #eee;
}

.product-categories li a {
	line-height: 2.5;
}

.woocommerce .woocommerce-product-search input.search-field {
	width: calc(100% - 100px);
}

.woocommerce .woocommerce-product-search button[type="submit"] {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	padding: 8px 15px;
	margin-bottom: 0;
	border: none;
	cursor: pointer;
	background-color: #f77426;
	color: #fff;
}

.woocommerce .woocommerce-product-search button[type="submit"]:hover {
	background-color: #999;
}

.woocommerce .tagcloud a {
	border: 1px solid #ddd;
	display: inline-block;
	margin: 0 2px 6px 0;
	padding: 3px 10px;
}

.woocommerce-review-link {
	color: #747474;
}

#main .woocommerce-MyAccount-navigation > ul {
	list-style: none;
}

.woocommerce-MyAccount-navigation ul li > a {
	border: 1px solid #e4e4e4;
	display: block;
	height: 100%;
	margin-bottom: -1px;
	padding: 8px;
	width: 100%;
}

.woocommerce-MyAccount-navigation ul li > a:hover,
.woocommerce-MyAccount-navigation ul li.is-active {
	background-color: #f8f8f8;
}

.woocommerce nav.woocommerce-pagination {
	display: inline-block;
	margin-bottom: 40px;
	width: 100%;
}

.woocommerce-pagination .page-numbers {
	outline: none;
	border: none;
	border-radius: 0;
}

.woocommerce .single-featured-image-header {
	display: none;
}

.woocommerce button.button.alt.disabled, 
.woocommerce button.button.alt.disabled:hover {
	background-color: #f77426;
}

.woocommerce div.product .out-of-stock {
	color: #f77426;
}

.cart .quantity input[type="number"] {
	margin-bottom: 0;
}

.woocommerce div.product .woocommerce-tabs ul.tabs {
	padding: 0;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li {
	border: none;
	background-color: transparent;
	margin-right: 30px;
	margin-left: 0;
	padding: 0;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
	background: transparent;
	border-bottom: 2px solid #f77426;
}

.woocommerce .summary .product_meta .posted_in, 
.entry-summary .sku_wrapper, 
.entry-summary .variations label, 
.woocommerce .summary .product_meta .tagged_as, 
.brand {
	display: inline-block;
	font-size: 15px;
	margin: 0;
	width: 100%;
	clear: both;
}

.entry-summary .sku,
.woocommerce .summary .product_meta .posted_in a, 
.woocommerce .summary .product_meta .tagged_as a, 
.brand span a {
	font-weight: normal;
	color: #808080;
}

.entry-summary .product_meta span {
	padding: 5px 0px;
}

@media only screen and (max-width: 767px) {
	.woocommerce span.onsale {
		left: 0;
	}
	.woocommerce ul.products li.product .onsale {
		margin: -0.6em -0.6em 0 0;
	}
}

/* Woocommerce Cart and Wishlist */
.wishlist-box {
	display: inline-block;
}

a{
	outline: 0 !important;
}

.wishlist-btn,
.header-right .wcmenucart-contents {
	float: left;
	padding: 8px 20px 8px 20px;
	color: #fff;
	position: relative;
	line-height: 1;
}
#socio-header-crown {
	position: absolute;
    bottom: 24px;
    right: 6px;
}
#a-socio-header:hover{
	color: #FFF;
	text-decoration: underline;
}

.wl-counter,
.header-right .cart-value {
	background-color: #f77426;
	border-radius: 50%;
	top: 0px;
	color: #fff;
	display: inline-block;
	font-size: 10px;
	height: 15px;
	line-height: 14px;
	margin: 0;
	position: absolute;
	right: 8px;
	text-align: center;
	text-transform: uppercase;
	width: 15px;
}

.header-right .wishlist-btn i,
.header-right .wcmenucart-contents i {
	font-size: 22px;
	vertical-align: top;
}

.woocommerce .entry-summary .yith-wcwl-add-to-wishlist .add_to_wishlist:before {
	content: "\f004";
	font-family: "FontAwesome";
	font-size: 14px;
	left: 0;
	margin: 0 0 0 auto;
	right: 0;
	text-align: center;
}

.woocommerce ul.products li.product .woocommerce-loop-category__title, .woocommerce ul.products li.product .woocommerce-loop-product__title, .woocommerce ul.products li.product h3 {
	padding: .5em 0;
	margin: 0;
	font-size: 15px;
}
.woocommerce div.product p.price, 
.woocommerce div.product span.price {
	line-height: 1;
	margin-bottom: 0;
}

.woocommerce ul.products li.product .woocommerce-loop-category__title, 
.woocommerce ul.products li.product .woocommerce-loop-product__title, 
.woocommerce ul.products li.product h3,
.woocommerce div.product div.summary,
.woocommerce div.product form.cart div.quantity {
	font-size: 15px;
}

.related.products {
	float: left;
	width: 100%;
}

.yith-wcwl-add-button a.add_to_wishlist {
	border: 1px solid #ccc;
	padding: 2px 10px;
	margin-bottom: 15px;
	display: inline-block;
}

.yith-wcwl-add-button a.add_to_wishlist:hover {
	background-color: #fafafa;
}
.woocommerce-account #primary {
    padding: 0px;
}

/* Woocommerce Cart */
.header-right .cart-box {
	display: inline-block;
}

#sticky-header-sticky-wrapper.is-sticky .header-right{
	position: relative;
	display: inline-block;
	color: #333;
}
#sticky-header-sticky-wrapper.is-sticky .header-right .my-cart-wrap,
#sticky-header-sticky-wrapper.is-sticky .header-right i,
#sticky-header-sticky-wrapper.is-sticky .header-right .my-user-wrap{
	color: #333;
}

.user-tool{
	color: #fff;
    z-index: 1000;
    margin-left: 0;
    position: absolute;
    height: 40px;
    margin-top: 10px;
    left: 50%;
    transform: translateX(-50%);
}

 .user-login .my-user-wrap a{
	font-weight: bold;
	color: #fff;
	outline: 0;
}

.user-login .my-user-wrap a:hover{
	text-shadow: 0px 0px 3px #333;
	color: #f1f1f1;
}

.user-login{
	display: inline-block;
    margin-right: 10px;
    border-right: 1px solid #aaa;
    padding-right: 20px;
    padding-left: 20px;
}

.user-login a i{
    font-size: 22px;
    color: #fff;
}

.area-vip{
	display: inline-block;
    margin-left: 10px;
    border-left: 1px solid #aaa;
	padding-left: 20px;
}

.user-login > a{
	float: left;
    padding: 8px 20px 8px 0px;
    color: #fff;
    position: relative;
    line-height: 1;
}

.cart-box .widgettitle, 
.cart-box .widget ul li a {
	color: #222;
}

.header-right .my-cart-wrap,
.header-right .my-user-wrap{
	float: left;
	color: #fff;
	text-align: left;
	font-size: 12px;
	letter-spacing: 1px;
}

.header-right .my-cart-wrap div {
	height: 15px;
	line-height: 1.6;
}

.header-right .my-cart-wrap .my-cart {
	font-weight: bold;
}

.header-right .widget_shopping_cart {
	background: #fff;
	color: #333;
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
	opacity: 0;
	padding: 20px;
	position: absolute;
	right: 0;
	top: 70px;
	visibility: hidden;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	transition: all 0.5s ease;
	min-width: 280px;
	z-index: 9999;
}

.header-right .cart-box:hover .widget_shopping_cart,
.header-right .cart-box.focus .widget_shopping_cart {
	opacity: 1;
	visibility: visible;
	top: 50px;
}

.header-right .woocommerce a.button {
	padding: 5px 10px;
	margin: 0 5px;
}


.woocommerce ul.products li.product, .woocommerce-page ul.products li.product{
	box-shadow: 0 1px 1px 0 rgba(0,0,0,.1), 0 -1px 2px 0 rgba(0,0,0,.1);
	border-radius: 6px;
	img{
		border-top-left-radius: 6px;
		border-top-right-radius: 6px;
	}
}

body.woocommerce-page .woocommerce #respond input#submit.alt, 
body.woocommerce-page .woocommerce a.button.alt, .woocommerce button.button.alt, 
body.woocommerce-page .woocommerce input.button.alt{
	&:hover{
		background-image: linear-gradient(#218838,#218838);
	}
	background-color:#28a745!important;	
}

body.woocommerce-page .woocommerce #respond input#submit, 
body.woocommerce-page .woocommerce a.button, 
body.woocommerce-page .woocommerce button.button,
body.woocommerce-page .woocommerce input.button{
	&:hover{
		background-image: linear-gradient(#218838,#218838);
	}
	background-color:#28a745;	
	color: #fff;
}

.woocommerce ul.products li.product .button {
	&:active{
		background-image: linear-gradient(#28a745, #28a745);
	}
	&:hover{
		background-image: linear-gradient(#218838,#218838);
	}
    margin-top: 5px;
    background-image: linear-gradient(#28a745, #28a745);
    border: 0;
    border-radius: 4px;
    color: #fff;
    padding: 8px 38px;
}


body.woocommerce ul.products li.product, 
body.woocommerce-page ul.products li.product{
	padding-bottom: 20px;

	.product-subtitle{
		font-size: 14px;
    	color: #888;
    	margin-top: -8px;
			padding-bottom: 10px;
			text-align: center;
	}
	.price{
		display: inline-block;
		margin-top: 15px;
		del{
			display: block;
			.woocommerce-Price-amount.amount{
				margin-left: 0px;
			}
		}
	}
	span.woocommerce-Price-currencySymbol {
		font-size: 22px;
		color: #bf1c1c;
		margin-right: 3px;
	}
	// .price .woocommerce-Price-amount.amount{
	// 	color: #4ecc5b;
	// }
	.product-title-wrap{
		padding: 0 15px;
		text-align: left;
	}
	.product-button-wrap{
		padding: 0 15px;
		text-align: center;
	}

	.woocommerce-loop-product__title, h2{
		text-align: center;
	}
}


.tag-socio-price{
	background: #4ECC5B;
	margin-top: 15px;
    float: right;
    border-radius: 30px 0 0 30px;
    padding: 0;
    width: 175px;
    padding: 1px 0;
	color: white;
	margin-right: -15px;
	text-align: center;
	font-size: 20px;
	.s-title{
		font-size: 16px;
	}
	.s-sifrao{
		margin-left: 7px;
    	font-size: 11px;
    	font-weight: bold;
	}
	.s-price{
		margin-left: 4px;
    	font-weight: bold;
	}
}

@media only screen and (max-width: 767px) {

	.strip-subtitle .sub{
		left: -6px;
		right: -6px;	
		border-radius: 0;	
	}

	.strip-subtitle:before {
		left: -6px;
		width: 5px;
		top: -36px;
		transform: matrix(1, -1, 0, 2, 0, 0);
		border-radius: 0;
	}

	.strip-subtitle:after {
		right: -6px;
		top: -36px;
		width: 5px;
		transform: matrix(1, 1, 0, 2, 0, 0);
		border-radius: 0;
	}

}
.woocommerce .products ul, .woocommerce ul.products{
	display:flex;
	flex-wrap: wrap;
}
@media only screen and (max-width: 767px) {

	.woocommerce ul.products[class*=columns-] li.product, .woocommerce-page ul.products[class*=columns-] li.product{
		width: 50% !important;
		margin: 10px !important;
	}
}
@media only screen and (max-width: 420px) {
	.woocommerce .products ul, .woocommerce ul.products{
		flex-wrap: wrap;
	}
	.woocommerce ul.products[class*=columns-] li.product, .woocommerce-page ul.products[class*=columns-] li.product{
		width: 100% !important;
	}
}


.woocommerce .products ul, .woocommerce ul.products {
  display: flex;
  flex-wrap: wrap;
}

@media(max-width: 900px){
  .woocommerce ul.products[class*=columns-] li.product, .woocommerce-page ul.products[class*=columns-] li.product{
    width: 28%;
  }
  .woocommerce ul.products li.last, .woocommerce-page ul.products li.last {
    margin-right: 28px !important;
  }
}
@media only screen and (max-width: 767px) {
  .woocommerce ul.products[class*=columns-] li.product, .woocommerce-page ul.products[class*=columns-] li.product {
    width: 45% !important;
    margin: 10px !important;
  }
}
@media only screen and (max-width: 560px) {
  .woocommerce .products ul, .woocommerce ul.products {
    flex-wrap: wrap;
  }

  .woocommerce ul.products[class*=columns-] li.product, .woocommerce-page ul.products[class*=columns-] li.product {
    width: 100% !important;
  }
}

/*---------prices-----------*/

//preço cart all pages
.woocommerce-Price-amount.amount {
	font-size: 16px;
}
//preço shop and related full types para não sócio
.products .woocommerce-Price-amount.amount, .related .price .woocommerce-Price-amount.amount{
	font-size: 22px;
}
//Preços socio, logado e single product
.logged-in.muscleboss-associado .product-type-simple p.price, .logged-in.muscleboss-associado .product-type-variable p.price{
	display: none;
}
//preço do produto variavel
.logged-in.muscleboss-associado .products .product-type-variable .price .amount{
	display:none;
}
//preço regular para sócio (pra não mostrar 2 preços de sócio)
.logged-in.muscleboss-associado .products .regular-price-socio{
	font-size: 22px;
	color: #bf1c1c;
}
//preço pagina single product
.woocommerce.single-product .summary.entry-summary .price ins bdi{
  font-size: 40px;
}
//preço regular pagina single product para sócio
.logged-in.muscleboss-associado.single-product .summary .regular-price-socio{
	font-size: 40px;
	color: #bf1c1c;
}
/*-------------------------------------*/

.woocommerce.single-product .text-price-socio{
  font-size: 14px;
}
.woocommerce.single-product .price-socio{
  border-radius: 0 16px 16px 0;
  background-color:#4ecc5b;
  color: white;
  margin-bottom: 10px;
  width: 200px;
  font-size: 16px;
  padding: 0 5px 0 5px;
}

@media(max-width:560px){
  #primary{
    padding:0px !important;
  }
}

//Css que não era Sass antes...

.woocommerce .products ul, .woocommerce ul.products, .elementor-163 .elementor-element.elementor-element-5bf7e4d.elementor-wc-products ul.products{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.home .tag-socio-price{
	margin-right:0px;
}
@media(max-width: 900px){
	.woocommerce ul.products[class*=columns-] li.product, .woocommerce-page ul.products[class*=columns-] li.product{
		width: 28%;
	}
	.woocommerce ul.products li.last, .woocommerce-page ul.products li.last {
		margin-right: 28px !important;
	}
}
@media only screen and (max-width: 767px) {
	.woocommerce ul.products[class*=columns-] li.product, .woocommerce-page ul.products[class*=columns-] li.product {
		width: 44% !important;
		margin: 10px !important;
	}
}
@media only screen and (max-width: 560px) {
	.woocommerce .products ul, .woocommerce ul.products {
		flex-wrap: wrap;
	}

	.woocommerce ul.products[class*=columns-] li.product, .woocommerce-page ul.products[class*=columns-] li.product {
		width: 100% !important;
	}
}

	/* prices
	ins = preço promocional 
	bdi = preço  */

.woocommerce.single-product .summary.entry-summary .price bdi{
	font-size: 40px;
}
.woocommerce.single-product .summary.entry-summary .price del bdi{
	font-size: 14px;
}
.woocommerce.single-product .text-price-socio{
	font-size: 16px;
}
.woocommerce.single-product .price-socio{
	border-radius: 0 16px 16px 0;
	background-color:#4ecc5b;
	color: white;
	margin-bottom: 10px;
	width: 200px;
	font-size: 16px;
	padding: 0 5px 0 5px;
}

@media(max-width:560px){
	#primary{
		padding:0px !important;
	}
}

	//aumentar botão de comprar no DETALHES DO PRODUTO
.woocommerce.single-product  div.product form.cart .button {
	padding: 20px 100px;
	font-size: 16px;
}
.single-product .cart .quantity input[type=number] {
	height: 55px;
}

  /* fixando no bottom o botão comprar pagina single product  */
  @media(max-width: 500px){
	.woocommerce .product form.cart {
	  margin-bottom: 0px !important;
	  position: fixed;
	  bottom: 0px;
	  z-index: 1000;
	}
	.single-product .product-type-variable form.cart{
		width: 92%;
		// display: flex;
		// flex-wrap: nowrap;
		background-color: #eee;
		border: 1px solid #ccc;
		padding: 0 15px 6px;
		border-radius: 6px 6px 0 0;
	}
	.single-product .product-type-variable form.cart .button {
		// width: 88%;
		padding: 10px 90px !important;
		font-size: 18px;
	}
	//qtd buttom fixed
	.single-product .product-type-variable .cart .quantity input[type=number] {
		height: 35px;
		}
		//preço mobile button fixed
	.single-product .product-type-variable .summary.entry-summary .price bdi{
		font-size: 22px;
	}
	.single-product .variations{
		margin-bottom: 0px !important;
	}

	.woocommerce.single.single-product jdiv{
		display:none;
	}
	.woocommerce.single.single-product .joinchat.joinchat--left {
		display: none;
	}
}
	// tira botão go to top
.go-to-top{
	display: none !important;
}

	/* Single product ul li*/
.woocommerce.single.single-product .summary.entry-summary ul{
	list-style-type: none !important;
	padding-bottom: 10px
}
.woocommerce.single.single-product .summary.entry-summary li::before{
	font-family: "FontAwesome"; 
	font-weight: 900; 
	content: "\f00c";
	padding: 0 10px 0 2px;
}
// Aumentando botões da loja
.woocommerce ul.products li.product .button {
	width: 100%;
	line-height: 25px;
	font-size: 18px;
}
	//botão comprar kit home
.home .woocommerce ul.products li.product .button{
	width: 90%;
}
	// Botão comprar Página inicial
@media (max-width: 767px){
	.elementor-163 .elementor-element.elementor-element-4685622 .elementor-button {
		background-color: #28a745;
		color: #fff;
		width: 100%;
		font-size: 20px;
	}
}
// Página carrinho de compras cart .woocommerce-cart
//card principal
.woocommerce-cart .woocommerce-cart-form__contents, .woocommerce-cart .cart_totals {
	background-color: white;
	padding: 10px 30px !important;
	border-radius: 7px !important;
	margin-bottom: 0px !important;
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15) !important;

}
.woocommerce-cart .woocommerce-cart-form__contents tbody tr td, .woocommerce-cart .woocommerce-cart-form__contents thead tr th,
.woocommerce-cart .woocommerce-cart-form__contents tbody tr th,
.woocommerce-cart .cart_totals tbody tr td, .woocommerce-cart .cart_totals tbody tr th {
	border-bottom: unset;
	padding-left: 0px;
	padding-right: 0px;
	border-right: unset;
	background-color: white !important;
	color: #777;
	border-collapse: unset;
}
.woocommerce-cart .cart_totals table{
	border: none !important;
}
.woocommerce-cart .shop_table thead tr th, .woocommerce-cart .shop_table tbody tr td::after{
	color: #777;
	font-weight: 600 !important;
}
.woocommerce table.shop_table_responsive tr{
	margin-bottom: 25px;
}

.woocommerce-cart .shop_table tbody .product-remove a:after{
	content: 'Remover';
	color: #777;
}
.woocommerce-cart .shop_table tbody .product-remove a:hover:after{
	content: 'Remover';
	color: #777;
	text-decoration: underline;
}
.woocommerce-cart .shop_table tbody a.remove{
	display: flex;
	padding-right: 125px;
	font-size: unset;
	font-weight: 400;
	border-radius:unset;
	border: unset;
	line-height: 0.8em;
	padding-left: 0px;
	color: transparent !important;
	margin-left: -10px;
		&:hover{
			background-color: unset;
		}
}
.woocommerce-cart .woocommerce-cart-form__contents .actions .coupon{
	display: flex;
}
.woocommerce-cart .woocommerce-cart-form__contents .actions .coupon #coupon_code{
	width: 100% !important;
}

.woocommerce-cart .woocommerce-cart-form__contents .actions .coupon [name=apply_coupon]{
	margin:0;
	padding-top: 5px;
	padding-bottom: 5px;
	width:100% !important;
	font-weight: 600;
}
.woocommerce-cart .cart_totals .wc-proceed-to-checkout a, 
.woocommerce-cart .woocommerce-cart-form__contents .actions button[name=update_cart]{
	margin:0 !important;
}
@media(max-width: 767px){
	.woocommerce table.shop_table_responsive tbody tr td:first-child{
		border-top: none;
	}
}

// Cards woolementor preços
.wl-ss-first-price{
	margin-right: 4px;
}
.wl-ss-first-price{
	.value-price-regular{
		font-size: 16px;
	}
	.text-price-depor{
		font-size: 12px;
	}
	.text-price-socio{
		color: green;
		font-size: 12px
	}
	.first-price-socio .woocommerce-Price-currencySymbol{
		color: green;
		font-size: 12px;
		margin-right: 4px;
	}
	.value-price-socio{
		color: green;
		font-size: 16px
	}
}
	.muscleboss-associado .woocommerce-Price-amount.amount bdi{
		color: green !important;
	}
	@media( min-width: 776px){
		.wl .wl-ss-product-img{
			width: 30% !important;
			padding: unset !important;
		}
		.wl .wl-ss-product-details{
			width: 70% !important;
		}
	}
// @media(max-width: 520px){
// 	.woocommerce-Price-amount.amount, .wl-ss-first-price del{
// 		font-size: 14px !important;
// 	}
// 	.woocommerce-Price-currencySymbol{
// 		font-size: 12px !important;
// 	}
// }
.wl-ssl-info-icons{
	flex-direction: column !important;
}
.wl-ssl-info-icons div{
	margin: 2px;
}
.wl .wl-ssl-product-cart{
	border-left: unset !important;
}
// Fim cards woolementor new layout loja